<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Categorias</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">Agregar nueva categoria</a>
<br><br>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Categoria</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach(function(cat){ %>
        <tr>
            <td><%= cat.title %></td>
            <td><a href="/admin/categories/edit-category/<%= cat._id %>">Editar</a></td>
            <td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= cat._id %>">Borrar</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../_layouts/adminfooter') %>