<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Products</h2>
<a href="/admin/products/add-product" class="btn btn-primary">Agrergar un nuevo producto</a>
<br><br>

<% if (count > 0) { %>

<table class="table table-striped alignmiddle">

    <thead>
        <tr class="home">
            <th>Producto</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Producto Image</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product){ %>
        <tr>
            <td><%= product.title %></td>
            <td>$<%= parseFloat(product.price).toFixed(2) %></td>
            <td><%= product.category %></td>
            <td>
                <% if (product.image == "") { %>
                <img id="noimage" src="/images/noimage.png">
                <% } else {%>
                <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                <% }%>
            </td>
            <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Borrar</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else {%>
<h3 class="text-center">No hay productos!</h3>
<% }%>

<%- include('../_layouts/adminfooter') %>